<div [ngClass]="(reset$ | async) ? 'wacpfm-full-height' : ''">
  <div class="wacpfm-login wacpfm-padding-default">
    <h1 class="wacpfm-heading-small wacpfm-heading-primary fw-bold">Faculty App Login</h1>
    <div class="wacpfm-heading-underline">
      <p class="wacpfm-subheading m-0">Reset your password</p>
      <div class="wacpfm-underline"></div>
    </div>
    <br>
    <br>
    <label for="wacpfm-login-email"><i class="bi bi-envelope-fill"></i> Email</label>
    <input #emailModel="ngModel" type="email" name="wacpfm-login-email" id="wacpfm-login-email" required
      placeholder="e.g. lagbaja@email.com" [(ngModel)]="this.email" autocomplete="new-password"
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
    <br>
    <a routerLink="/access/register" class="wacpfm-link-card wacpfm-smaller-text">Create your account if you're new!</a>
    <br><br><br>
    <button class="wacpfm-primary-button" (click)="resetPassword()" 
    [disabled]="!email || emailModel.invalid">Reset Password</button>
  </div>
  <div class="wacpfm-overlay-container" *ngIf="reset$ | async as reset">
    <app-overlay [title]="reset ? 'Sending email' : 'Error Occurred'" 
    [description]="reset ? 'Password reset email has been sent' : 'Please try again'" 
    bi="bi-gear-wide wacpfm-loading"
      (clickEmitter)="dismissOverlay()" navText="Dismiss" [done]="reset" [narrow]="true"></app-overlay>
  </div>
</div>