<div class="wacpfm-card wacpfm-header-card">
  <h1 class="wacpfm-heading-medium fw-bold">{{ title }}</h1>
  <p class="wacpfm-heading-small">{{ subtitle }}</p>
  <br>
  <button *ngIf="newItem$ | async as newItem; else loading" (click)="emit(newItem)"
    class="wacpfm-primary-button small w-auto">CREATE NEW</button>
</div>
<br>
<div *ngFor="let courseType of courseTypes">
  <details class="wacpfm-card">
    <summary class="wacpfm-heading wacpfm-heading-small fw-bold">{{ courseType }}</summary>
    <!-- <br>
      <button class="small w-auto">Grant Participants Access</button> -->
    <br>
    <hr><br>
    <app-card-list *ngFor="let list of courseTypeOnly(lists, courseType); index as i" [item]="convertToCardList(list)"
      [index]="i" (click)="emit(list)" [control]="evaluateControl(list)" [state]="evaluateState(list)"></app-card-list>
  </details>
  <br>
</div>
<ng-template #loading>
  <app-loading-ui></app-loading-ui>
  <br><br>
  <app-loading-ui></app-loading-ui>
  <br><br>
  <app-loading-ui></app-loading-ui>
</ng-template>