<div class="wacpfm-heading-underline">
  <h1 class="wacpfm-heading-small fw-bold">Event Details</h1>
  <div class="wacpfm-underline"></div>
</div>
<br>
<div class="wacpfm-event-details" *ngIf="event$ | async as event; else empty">
  <div class="wacpfm-card wacpfm-header-card">
    <div class="wacpfm-heading-underline mb-3">
      <h1 class="wacpfm-small-text fw-bold">TITLE</h1>
      <div class="wacpfm-underline"></div>
    </div>
    <h2 class="wacpfm-heading-small fw-bold mb-3">{{ event.title }}</h2>
    <p class="wacpfm-subheading">{{ event.summary }}</p>
    <div class="info d-flex flex-wrap">
      <button class="icon small me-2 mb-2">{{parseMillisToDate(event.first_day)}}</button>
      <button class="icon small me-2 mb-2">{{parseCourseDuration(event.course_duration)}}</button>
      <button class="icon small mb-2" [ngClass]="event.registration_closes > today ? 
      'border-success text-success' : 'border-danger text-danger'">
        {{ event.registration_closes > today ? "Ongoing" : "Closed" }}
      </button>
    </div>
    <br>
    <div *ngIf="user$ | async as user">
      <div *ngIf="today < event.registration_closes">
        <button class="wacpfm-primary-button w-auto px-3" [routerLink]="['./register']"
        *ngIf="!event.registered_participants.includes(user.email!); else pay"
        [queryParams]="{redirecturl: 'pay'}">
          Register Now
        </button>
        <ng-template #pay>
          <button class="wacpfm-primary-button w-auto px-3" routerLink="./pay"
            *ngIf="!event.paid_participants.includes(user.email!); else goto">
            Pay Now
          </button>
          <ng-template #goto>
            <div class="d-flex">
              <button class="w-auto text-success border-success me-3">
                <i class="bi bi-check-circle-fill text-success"></i> Registered
              </button>
              <button class="wacpfm-primary-button w-auto px-3" routerLink="./home">
              Go To Meeting
            </button>
            </div>
          </ng-template>
        </ng-template>
      </div>
      <button class="w-auto wacpfm-primary-button mt-3" routerLink="resources/certificate"
      *ngIf="event.registered_participants.includes(user.email!) && 
      event.paid_participants.includes(user.email!)">
        Download Certificate
      </button>
    </div>
    <br>
    <a routerLink="./register/pay" class="wacpfm-link-card wacpfm-smaller-text">
      I have paid but still not registered.
    </a>
  </div>
  <br><br>
  <div *ngIf="user$ | async as user">
    <div *ngIf="event.paid_participants.includes(user.email!)">
      <div class="wacpfm-card" id="welcome">
        <h2 class="wacpfm-heading-small fw-bold">Welcome!</h2>
        <hr>
        <p class="wacpfm-subheading">
          You have successfully registered for this workshop. 
          Everything you need for this workshop is on this page.
          Looking forward to your active participation.
        </p>
        <p class="wacpfm-subheading fw-bold">
          Thank you!
        </p>
      </div>
      <br><br>
      <div class="container-fluid p-0" id="whatsapp">
        <div class="wacpfm-card row">
          <div class="col-lg-6">
            <h1 class="wacpfm-heading-small fw-bold">Join WhatsApp Group</h1>
            <p class="wacpfm-subheading">
              Scan the QR Code to join the WhatsApp group created for this workshop.
            </p>
          </div>
          <div class="col-lg-6">
            <img [src]="event.whatsapp" alt="WhatsApp Group QR Code" class="img-fluid">
          </div>
        </div>
      </div>
      <br><br>
      <div class="wacpfm-card">
        <div class="wacpfm-heading-underline">
          <h2 class="wacpfm-heading-small fw-bold">Lectures</h2>
          <div class="wacpfm-underline"></div>
        </div>
        <br><br>
        <div class="wacpfm-lectures" *ngIf="eventLectures$ | async as lectures">
          <div class="wacpfm-lectures" *ngFor="let lecture of lectures; index as i">
            <div class="container-fluid px-3 py-3 wacpfm-lecture">
                <div class="row g-0">
                  <div class="col-1">
                    <p class="wacpfm-small-text color-accent">{{ i + 1 }}.</p>
                  </div>
                  <div class="col-9 px-1">
                    <p class="wacpfm-lecture-title">{{ lecture.lectureTitle }}</p>
                    <span class="wacpfm-smaller-text opacity-75 pe-2">{{ helper.millisToHour(lecture.startTime)
                      }}</span>
                    <i class="bi bi-three-dots-vertical color-accent wacpfm-smaller-text"></i>
                    <span class="wacpfm-smaller-text fw-bold opacity-75">
                      {{ helper.millisToHour(lecture.endTime) }}
                    </span>
                  </div>
                  <div class="col-1 text-end" *ngFor="let link of lecture.materialLink">
                    <a [href]="link" [download]="'Update.Course.Lecture.' + (i + 1) + '.pdf'" type="application/pdf"
                      target="_blank" *ngIf="event.last_day <= today">
                      <i class="bi bi-file-earmark-pdf-fill color-accent"></i>
                    </a>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <div class="app-card" *ngIf="event.objectives.length">
    <div class="heading-underline">
      <h1 class="fw-bold small-text">OBJECTIVES</h1>
      <div class="underline"></div>
    </div>
    <br>
    <ol>
      <li *ngFor="let objective of event.objectives">{{ objective }}</li>
    </ol>
  </div>
  <br><br>
  <!-- <button class="wacpfm-primary-button" routerLink="./register">Register Now</button> -->
</div>
<ng-template #nullCourse>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <img src="assets/empty.png" alt="No update course in view - vector image by pikisuperstar"
      class="img-fluid w-50 text-center">
    <p class="smaller-text">No new update course</p>
  </div>
</ng-template>
<ng-template #empty>
  <app-loading-ui></app-loading-ui>
  <br><br>
  <app-loading-ui></app-loading-ui>
  <br><br>
  <app-loading-ui></app-loading-ui>
</ng-template>