<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 py-3">
      <div class="wacpfm-card wacpfm-match-height" routerLink="./payments">
        <h1 class="wacpfm-subheading fw-bold">Payments</h1>
        <br>
        <p class="wacpfm-small-text wacpfm-lines">
          Review and approve payments made for update courses for each category.
        </p>
        <br>
        <button class="wacpfm-primary-button" routerLink="./payments">GO TO PAYMENTS</button>
      </div>
    </div>
    <!-- <div class="col-lg-6 py-3">
      <div class="wacpfm-card wacpfm-match-height">
        <h1 class="wacpfm-subheading fw-bold">Lectures</h1>
        <br>
        <p class="wacpfm-small-text wacpfm-lines">
          View and edit details of Update Course lectures.
        </p>
        <br>
        <button class="wacpfm-primary-button">GO TO LECTURES</button>
      </div>
    </div> -->
  </div>
</div>