<div class="wacpfm-card">
  <div *ngIf="exam$ | async as exam; else loading">
    <div class="wacpfm-heading-underline mb-3">
      <h1 class="fw-bold wacpfm-small-text">{{ exam.alias.replace('-', ' ').toUpperCase() }}</h1>
      <div class="wacpfm-underline"></div>
    </div>
    <h1 class="wacpfm-heading-small wacpfm-font-arial wacpfm-four-lines">{{ exam.title }}</h1>
  </div>
</div>
<div class="container-fluid p-0">
  <div class="row">
    <div class="col-md-6">
      <div class="wacpfm-card">
        <h1 class="wacpfm-heading-small">Portal</h1>
      </div>
    </div>
    <div class="col-md-6">
      <div class="wacpfm-card">
        <h1 class="wacpfm-heading-small">Last Exam</h1>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <app-loading-ui></app-loading-ui>
  <br><br>
  <app-loading-ui></app-loading-ui>
  <br><br>
  <app-loading-ui></app-loading-ui>
</ng-template>