<div class="wacpfm-heading-underline">
  <h1 class="wacpfm-heading-small fw-bold">Edit Candidate Profile</h1>
  <div class="wacpfm-underline"></div>
</div>
<br>
<div *ngIf="user$ | async as user">
  <label for="wacpfm-candidate-name">Candidate Name</label>
  <input type="text" name="candidate-name" id="wacpfm-candidate-name" required 
  [ngModel]="user.firstname + ' ' + user.lastname" disabled>
  <br><br>
  <label for="wacpfm-candidate-gender">Candidate Gender</label>
  <input type="text" name="candidate-gender" id="wacpfm-candidate-gender" required 
  [ngModel]="user.gender" disabled>
  <br><br>
</div>
<div *ngIf="candidate$ | async as candidate">
  <label for="wacpfm-candidate-no">Examination Number</label>
  <input type="text" name="candidate-no" id="wacpfm-candidate-no" required [(ngModel)]="candidate.candidateId"
    placeholder="">
  <br><br>
  <label for="wacpfm-candidate-wacpno">Physician-in-Training Number</label>
  <input type="text" name="wacpfm-candidate-wacpno" id="wacpfm-candidate-wacpno" required
    [(ngModel)]="candidate.wacpNo" pattern="WP\/\d+\/20\d+">
  <!-- <input *ngFor="let wacpno of candidate.wacpNo.split('/') as wacpnos; index as i" type="text"
    name="wacpfm-candidate-wacpno-{{i}}" id="wacpfm-candidate-wacpno-wa-{{i}}" [ngModel]="wacpnos[i]"
    (ngModelChange)="candidate.wacpNo = wacpnos.join('/')" required class="d-inline w-auto" 
    [disabled]="i === 0" [size]="i > 0 ? 4 : 2"> -->
  <br><br>
  <label for="wacpfm-candidate-dob">Date of Birth</label>
  <input type="date" name="wacpfm-candidate-dob" id="wacpfm-candidate-dob" required [(ngModel)]="candidate.dateOfBirth">
  <br><br>
  <label for="wacpfm-candidate-category">What category are you registering for?</label>
  <app-select (emitItems)="candidate.category = $event[0]" mode="single"
    [items]="['Membership', 'Fellowship']"></app-select>
  <br><br>
  <label for="wacpfm-candidate-category">What curriculum applies to you?</label>
  <app-select (emitItems)="candidate.curriculum = $event[0]" mode="single"
    [items]="['New', 'Old']"></app-select>
  <br><br>
  <label for="wacpfm-candidate-trainingcentre-name">Name of Training Centre</label>
  <input type="text" name="wacpfm-candidate-trainingcentre-name" id="wacpfm-candidate-trainingcentre-name" required
    [(ngModel)]="candidate.nameOfTrainingCentre">
  <br><br>
  <label for="wacpfm-candidate-previous-attempts">How many previous attempts have you had at this exam?</label>
  <input type="number" name="wacpfm-candidate-previous-attempts" id="wacpfm-candidate-previous-attempts" required
    [(ngModel)]="previousAttempts">
  <br><br>
  <div *ngIf="candidate.previousAttemptsDetails.length > 0">
    <div class="wacpfm-heading-underline">
      <h1 class="wacpfm-heading-small">Previous Attempt(s) Details</h1>
      <div class="wacpfm-underline"></div>
    </div>
    <br><br>
    <app-card-list></app-card-list>
    <button class="small w-auto px-4" (click)="candidate.previousAttemptsDetails.push(newPreviousAttempt())">
      <i class="bi bi-plus-circle-fill"></i> Add Previous Attempt
    </button>
  </div>
  <label for="wacpfm-candidate-physical-handicap">Physical Handicap</label>
  <app-select (emitItems)="candidate.physicalHandicap = $event[0]" mode="single" [items]="handicap"></app-select>
  <br><br>
  <label for="wacpfm-candidate-other-handicap">Other Handicap</label>
  <input type="text" name="wacpfm-candidate-other-handicap" id="wacpfm-candidate-other-handicap" required
    [(ngModel)]="candidate.otherHandicap">
  <br><br>
  <label for="wacpfm-candidate-handicap-assistance">What assistance do you need?</label>
  <p class="wacpfm-small-text">Pls remember that this is subject to possibility at the host examination site and
    examination security considerations</p>
  <input type="text" name="wacpfm-candidate-handicap-assistance" id="wacpfm-candidate-handicap-assistance" required
    [(ngModel)]="candidate.handicapAssistance">
  <br><br>
  <div *ngIf="candidate.gender.toLowerCase() === 'female'">
    <label for="wacpfm-candidate-breastfed">Will you have an exclusively breast-fed baby less than 6-months old during
      the examinations?</label>
    <app-select (emitItems)="candidate.exclusivelyBreastfedBaby = $event[0]" mode="single"
      [items]="['Yes', 'No']"></app-select>
    <br><br>
    <label for="wacpfm-candidate-pregnant">Will you be in the 3rd trimester of pregnancy during the
      examinations?</label>
    <app-select (emitItems)="candidate.exclusivelyBreastfedBaby = $event[0]" mode="single"
      [items]="['Yes', 'No']"></app-select>
    <br><br>
  </div>
  <!-- <div *ngIf="candidateType$ | async as type">
    <div *ngIf="type === 'membership'"></div>
    <div *ngIf="type === 'fellowship'">
      <app-edit-fellowship [casebooks]="fetchForFellowship(candidate).casebooks"
      [dissertations]="fetchForFellowship(candidate).dissertation"></app-edit-fellowship>
    </div>
  </div> -->
  <div *ngIf="updateTracker$ === null; else update">
    <button class="wacpfm-primary-button" routerLink="/dashboard/examination">Submit</button>
  </div>
  <ng-template #update>
    <button *ngIf="updateTracker$ | async as tracker; else loading" class="wacpfm-primary-button"
      (click)="update$()">Continue</button>
    <ng-template #loading>
      <app-loading-circles></app-loading-circles>
    </ng-template>
  </ng-template>
</div>