.wacpfm-loading-container {
  width: 100%;
  height: 32px;
  background-color: var(--wacpfm-light-grey);
}

.wacpfm-loading-bar {
  width: 33.33%;
  height: 100%;
  opacity: 0.1;
  background: linear-gradient(to right, var(--wacpfm-light-grey), 
                                        var(--wacpfm-overlay-background),
                                        var(--wacpfm-light-grey));
  background-blend-mode: overlay;
  animation: loadingUI 1000ms ease 100ms infinite alternate;
}
