.wacpfm-leftbar {
  background-color: var(--wacpfm-primary-colour-light);
}

.wacpfm-leftbar-item {
  padding: 18px var(--wacpfm-spacing-small);
  background-color: var(--wacpfm-primary-colour);
}

.wacpfm-leftbar-header {
  color: white;
}

.wacpfm-leftbar-link {
  background-color: var(--wacpfm-light-grey);
  border: 1px solid var(--wacpfm-primary-shadow);
  color: var(--wacpfm-primary-colour-contrast);
  font-size: 18px;
  line-height: 1;
  vertical-align: middle;
  transition: background-color 200ms ease-in, border-color 200ms ease-in, color 200ms ease-in;
}

.wacpfm-leftbar i.bi {
  color: var(--wacpfm-accent-colour-orange);
  margin-right: 16px;
  line-height: inherit;
}

.wacpfm-leftbar-link:hover {
  background-color: var(--wacpfm-primary-shadow);
  border-color: var(--wacpfm-accent-colour-orange);
}

.wacpfm-leftbar-link:active, .wacpfm-leftbar-link.active {
  background-color: var(--wacpfm-primary-colour);
  color: var(--wacpfm-primary-colour-light);
}

span {
  line-height: 1.5;
  color: inherit;
  font-size: 16px;
}
