<div class="wacpfm-leftbar w-100 mt-3">
  <!-- <div class="wacpfm-leftbar-header wacpfm-leftbar-item m-1">
    <h1 class="wacpfm-subheading text-white">Dashboard</h1>
  </div> -->
  <div class="wacpfm-leftbar-item wacpfm-leftbar-link" *ngIf="appUser$|async"
    routerLink="/dashboard/admin" routerLinkActive="active">
    <i class="bi bi-gear-wide-connected"></i> <span>Admin</span>
  </div>
  <div class="wacpfm-leftbar-item wacpfm-leftbar-link" 
    routerLink="/dashboard/updatecourse" routerLinkActive="active">
    <i class="bi bi-mortarboard-fill"></i> <span>Update Course</span>
  </div>
  <div class="wacpfm-leftbar-item wacpfm-leftbar-link opacity-50" disabled
     routerLinkActive="wacpfm-primary-button">
    <i class="bi bi-person-vcard-fill"></i> <span>Examination</span>
  </div>
  <div class="wacpfm-leftbar-item wacpfm-leftbar-link opacity-50" disabled
    routerLinkActive="wacpfm-primary-button">
    <i class="bi bi-journal-bookmark-fill"></i> <span>Resource Person</span>
  </div>
</div>