<nav>
  <div class="container-fluid p-0">
    <div class="row g-0 align-items-center">
      <div class="col-2 col-md-1 d-flex justify-content-center">
        <a routerLink="/">
          <img src="../../assets/logo.png" alt="West African College of Physicians logo" class="img-fluid">
        </a>
      </div>
      <div class="col-5 col-md-3 col-lg-2 px-3">
        <h1 class="wacpfm-subheading fw-bold">Faculty App</h1>
      </div>
      <div class="col-md-5 col-lg-6 d-none d-md-block"></div>
      <div class="offset-2 col-2 col-md-1 col-lg-1">
        <i class="bi bi-person-circle"></i>
      </div>
    </div>
  </div>
</nav>
