<nav>
  <div class="container-fluid p-0">
    <div class="row g-0 align-items-center">
      <div class="col-2 col-md-1">
        <h1 class="wacpfm-heading-big text-center" *ngIf="helper.isDashboard; else icon">
          <i class="bi bi-list wacpfm-text-primary"></i>
        </h1>
        <ng-template #icon>
          <div class="d-flex justify-content-center w-100">
            <a routerLink="/" class="wacpfm-normal-link">
              <img src="assets/icons-maskable/icon-72x72.png" alt="West African College of Physicians logo" class="img-fluid">
            </a>
          </div>
        </ng-template>
      </div>
      <div class="col-6 col-md-4 col-lg-3 ps-2">
        <h1 class="wacpfm-small-text wacpfm-heading-primary fw-bold">Faculty App</h1>
      </div>
      <div class="col-md-4 col-lg-5 d-none d-md-block"></div>
      <div class="offset-1 col-3 offset-md-1 col-md-2 offset-lg-2 col-lg-1">
        <div *ngIf="user$ | async as user; else loading">
          <button *ngIf="user; else nullUser" class="small wacpfm-smaller-text" (click)="this.signOut()">Logout</button>
          <ng-template #nullUser>
            <button class="wacpfm-primary-button small wacpfm-smaller-text"
            routerLink="/access/login">Login</button>
          </ng-template>
        </div>
        <ng-template #loading>
          <div class="text-center">
            <button class="small wacpfm-smaller-text">
              <span class="wacpfm-loading d-inline-block">
                <i class="bi bi-gear-fill fitted"></i>
              </span>
            </button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</nav>
