<nav>
  <div class="container-fluid p-0">
    <div class="row g-0 align-items-center">
      <div class="col-2 col-md-1 d-flex justify-content-center">
        <a routerLink="/" class="wacpfm-normal-link">
          <img src="assets/icons/icon-72x72.png" alt="West African College of Physicians logo" class="img-fluid">
        </a>
      </div>
      <div class="col-6 col-md-3 col-lg-2 px-3">
        <h1 class="wacpfm-subheading fw-bold">Faculty App</h1>
      </div>
      <div class="col-md-5 col-lg-6 d-none d-md-block"></div>
      <div class="offset-1 col-3 offset-md-2 col-md-1 col-lg-1">
        <button *ngIf="(user$ | async); else nullUser" class="small wacpfm-smaller-text" (click)="this.signOut()">Logout</button>
        <ng-template #nullUser>
          <button class="wacpfm-primary-button small wacpfm-smaller-text"
          routerLink="/access/login">Login</button>
        </ng-template>
      </div>
    </div>
  </div>
</nav>
