<div class="wacpfm-heading-underline">
  <h1 class="wacpfm-heading-small fw-bold">Download Your Certificate</h1>
  <div class="wacpfm-underline"></div>
</div>
<br>
<div class="container-fluid p-0" #container>
  <div class="row g-0">
    <div class="offset-lg-1 col-lg-10">
      <div class="wacpfm-certificate">
        <img #img [class.d-none]="!url" src="{{url}}"
          alt="Update Course Certificate" crossorigin="anonymous">

        <div class="wacpfm-padding-default" [class.d-none]="url">
          <app-loading-ui></app-loading-ui>
          <br>
          <app-loading-ui></app-loading-ui>
          <br>
          <app-loading-ui></app-loading-ui>
        </div>
        <canvas width="1056px" height="816px" #certificate></canvas>
      </div>
      <br>
      <a href="{{this.downloadUrl}}" [class.d-none]="!url" download="Certificate.png" (click)="downloadCert()">
        <button class="wacpfm-primary-button"><i class="bi bi-file-earmark-image"></i> Download Certificate</button>
      </a>
    </div>
  </div>
</div>