<div *ngIf="membership$ | async as membership; else fetching">
  <div class="wacpfm-heading-underline">
    <h1 class="wacpfm-heading">Fellowship Uploads</h1>
    <div class="wacpfm-underline"></div>
  </div>
  <br><br>
  <div class="wacpfm-card">
    <label for="wacpfm-candidate-theory-banked">Is your theory banked?</label>
    <input type="text" name="wacpfm-candidate-theory-banked" id="wacpfm-candidate-theory-banked" required
      [(ngModel)]="membership.isTheoryBanked">
    <br><br>
  </div>
  <br><br>
  <div *ngIf="membership.curriculum === 'new'" class="wacpfm-card">
    <h1 class="wacpfm-heading-small mb-2">PMRs</h1>
    <button class="icon small" (click)="addPMR(membership)"><i class="bi bi-plus-circle"></i> Add PMRs</button>
    <br><hr><br>
    <app-card-list *ngFor="let pmr of membership.pmrs.map(toCardList); index as i" 
    [item]="pmr" [index]="i" [control]="membership.pmrs[i].files.length > 0"
    (click)="showWriting(membership, i)"></app-card-list>
  </div>
</div>
<ng-template #fetching>
  <div class="wacpfm-card">
    <h1 class="wacpfm subheading fw-bold">Checking your details...</h1>
    <app-loading-circles></app-loading-circles>
  </div>
</ng-template>
