<div class="wacpfm-heading-underline">
  <h1 class="wacpfm-heading-small fw-bold">Update Course: Details</h1>
  <div class="wacpfm-underline"></div>
</div>
<br>
<div class="wacpfm-ongoing-course wacpfm-card">
  <div class="wacpfm-heading-underline mb-3">
    <h1 class="fw-bold wacpfm-small-text">NEW COURSE</h1>
    <div class="wacpfm-underline"></div>
  </div>
  <div class="wacpfm-ongoing-course-preview" *ngIf="ongoing | async as newCourse; else empty">
    <div *ngIf="newCourse.creator; else nullCourse" class="wacpfm-clickable">
      <h1 class="wacpfm-heading-small wacpfm-font-arial">{{ newCourse.title }}</h1>
      <!-- <div class="wacpfm-page-divider my-3"></div> -->
      <br>
      <!-- The lower block of commented code should be uncommented ahead of next course -->
      <!-- <div class="container-fluid p-0" *ngIf="user$ | async as user; else loadingCircles">
        <div class="row g-0">
          <div class="col-6 col-md-6 col-lg-4 py-2">
            <button class="wacpfm-primary-button small w-auto px-4" (click)="openCategoryUI = true" 
            *ngIf="!newCourse.totParticipants.includes(user!.email) ||
                   !newCourse.fellowshipParticipants.includes(user!.email) ||
                   !newCourse.membershipParticipants.includes(user!.email)">Register</button>
          </div>
          <div class="offset-1 col-5 offset-lg-4 col-lg-4 offset-xl-5 col-xl-3 py-2 text-end"
            *ngIf="user?.updateCourseRole === 'admin'">
            <a routerLink="/dashboard/updatecourse/{{newCourse.updateCourseId}}/details">
              <button class="small w-auto px-4">Edit</button>
            </a>
          </div>
        </div>
      </div> -->
      <ng-template #loadingCircles>
        <app-loading-circles></app-loading-circles>
      </ng-template>
    </div>
    <ng-template #nullCourse>
      <div class="d-flex flex-column justify-content-center align-items-center">
        <img src="../../assets/empty.png" alt="No update course in view - vector image by pikisuperstar"
          class="img-fluid w-50 text-center">
        <p class="wacpfm-smaller-text">No new update course</p>
      </div>
    </ng-template>
  </div>
  <ng-template #empty>
    <app-loading-ui></app-loading-ui>
    <br>
    <app-loading-ui></app-loading-ui>
    <br>
    <app-loading-ui></app-loading-ui>
  </ng-template>
  <div class="wacpfm-ongoing-course-register wacpfm-padding-default" [ngClass]="openCategoryUI ? 'd-block' : 'd-none'">
    <div class="container-fluid p-0">
      <div class="row g-0">
        <div class="col-12 py-4">
          <h2 class="wacpfm-subheading fw-bold">
            <i class="bi bi-patch-question-fill"></i> Which course do you want to register for?
          </h2>
        </div>
        <div class="col-lg-6 p-2">
          <a routerLink="./payment/jnr"><button class="small">Junior Resident</button></a>
        </div>
        <div class="col-lg-6 p-2">
          <a routerLink="./payment/snr"><button class="small">Senior Resident</button></a>
        </div>
        <div class="col-4 col-lg-6 p-2">
          <a routerLink="./payment/tot"><button class="small">ToT</button></a>
        </div>
        <div class="col-8 col-lg-6 p-2">
          <a routerLink="./payment/tot-update"><button class="small">ToT & Update</button></a>
        </div>
      </div>
      <div class="row g-0 justify-content-end">
        <div class="col-4 col-lg-3 col-xl-2 text-end p-2">
          <button class="wacpfm-primary-button small" (click)="openCategoryUI = false">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>
<div class="container-fluid p-0" *ngIf="ongoing | async as newCourse">
  <div class="row g-0 wacpfm-card p-0 wacpfm-course-details mb-5" 
    *ngFor="let record of courseRecords | async; index as r">
    <div class="col-lg-6 wacpfm-padding-default">
      <div class="wacpfm-heading-underline">
        <h1 class="wacpfm-subheading fw-bold">{{record.courseType}} Course</h1>
        <div class="wacpfm-underline"></div>
      </div>
      <br>
      <div class="wacpfm-category-theme" id="tot">
        <h1 class="wacpfm-small-text wacpfm-heading-primary fw-bold mb-1">THEME</h1>
        <h2 class="wacpfm-subheading fw-bold">
          {{ record.courseType === 'Membership' ? newCourse.membershipTheme :
          record.courseType === 'Fellowship' ? newCourse.fellowshipTheme :
          newCourse.totTheme }}
        </h2>
      </div>
      <br>
      <button class="wacpfm-primary-button small" 
        routerLink="./certificate/{{record.courseType.toLowerCase()}}" disabled>
        <i class="bi bi-file-earmark-image"></i> Download Certificate
      </button>
      <br><br>
      <button class="small" disabled>
        <i class="bi bi-file-earmark-ruled"></i> Download CPD Form
      </button>
    </div>
    <div class="col-lg-6 wacpfm-lecture-table">
      <div class="wacpfm-lecture-container px-2" *ngFor="let lecture of (lecturesPerRecord$ | async)?.[r]?.[day[r]]; index as i"
        [class.d-none]="lecture.courseType !== record.courseType">
        <div class="container-fluid p-0 wacpfm-lecture-table-head" *ngIf="i === 0">
          <div class="row g-0 px-3 py-2">
            <!-- <div class="col-1"><p class="wacpfm-small-text color-accent">#</p></div> -->
            <div class="offset-1 col-10 px-1">
              <h2 class="wacpfm-smaller-text fw-bold mb-1">LECTURES</h2>
              <p class="wacpfm-toggle wacpfm-smaller-text d-inline-block py-1" [class.toggled]="day[r] === 0"
                (click)="toggleDay(r, 0)">
                Day 1
              </p>
              <p class="wacpfm-toggle wacpfm-smaller-text d-inline-block py-1" [class.toggled]="day[r] === 1"
                (click)="toggleDay(r, 1)" [class.d-none]="record.courseType === 'ToT'">
                Day 2
              </p>
            </div>
            <div class="col-1">
              <!-- <i class="bi bi-file-earmark-pdf-fill color-accent" disabled></i> -->
            </div>
          </div>
        </div>
        <hr *ngIf="i > 0" class="m-0 wacpfm-heading-primary">
        <div class="container-fluid px-3 py-3 wacpfm-lecture">
          <div class="row g-0">
            <div class="col-1">
              <p class="wacpfm-small-text color-accent">{{ i + 1 }}.</p>
            </div>
            <div class="col-10 px-1">
              <p class="wacpfm-lecture-title">{{ lecture.lectureTitle }}</p>
              <span class="wacpfm-smaller-text opacity-75 pe-2">{{ lecture.lecturerName }}</span>
              <i class="bi bi-three-dots-vertical color-accent wacpfm-smaller-text"></i>
              <span class="wacpfm-smaller-text fw-bold opacity-75">
                {{ helper.millisToHour(lecture.startTime) }}
              </span>
            </div>
            <div class="col-1 text-end">
              <i class="bi bi-file-earmark-pdf-fill color-accent"
              [hidden]="!lecture.materialLink "></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>