.wacpfm-ongoing-course {
  position: relative;
}

.wacpfm-ongoing-course-register {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  top: 0; left: 0;
  background-color: var(--wacpfm-background-colour-darker);
}

.wacpfm-ongoing-course-preview h1 {
  line-height: 2rem;
  min-height: 6rem;
}

i {
  color: var(--wacpfm-accent-colour-orange);
  line-height: 1;
}

button {
  text-transform: none;
}

.wacpfm-category-theme button {
  position: absolute;
  bottom: var(--wacpfm-spacing-small);
  left: var(--wacpfm-spacing-default);
}

p, span {
  margin: 0;
}

i.bi-file-earmark-pdf-fill {
  font-size: 20px;
}

.wacpfm-lecture-table {
  min-height: 40vh;
  padding-top: var(--wacpfm-spacing-default);
  padding-bottom: var(--wacpfm-spacing-default);
}

.wacpfm-lecture {
  border: none;
}

iframe {
  width: 100%;
}

@media (min-width: 1024px) {
  iframe {
    height: 33vh;
  }
}