.wacpfm-access-left {
  min-height: 100vh;
  background: url("../../assets/kwanzaa.png");
  background-size: 100% auto;
}

.wacpfm-access-content {
  /* padding-top: var(--wacpfm-spacing-default); */
  position: relative;
  background-color: var(--wacpfm-background-colour);
}