<ng-container *ngIf="userId$ | async as userId; else loadingUI">
  <ng-container *ngIf="portfolioItems$ | async as items; else loadingUI">
    <div class="wacpfm-card wacpfm-header-card">
      <div class="wacpfm-heading-underline">
        <h1 class="wacpfm-heading-small fw-bold">Your Portfolio</h1>
        <div class="wacpfm-underline"></div>
      </div>
      <br>
      <button class="icon">
        Overall Score: {{ getPortfolioScore(items) }} / {{ portfolioScoreTotal }}
      </button>
    </div>
    <br><br>
    <div class="wacpfm-card">
      <h1 class="wacpfm-heading-small fw-bold">Sections</h1>
      <br>
      <hr>
      <br>
      <app-card-list-item *ngFor="let section of sections; index as i" [item]="section" [index]="i"
        [routerLink]="extractSectionId(section.title)">
        <button class="icon small">
          Score: {{getSectionScore(items, extractSectionId(section.title))}}
        </button>
      </app-card-list-item>
    </div>
  </ng-container>
</ng-container>
<ng-template #loadingUI>
  <div class="w-100"><app-loading-ui></app-loading-ui></div>
  <br>
  <div class="w-75"><app-loading-ui></app-loading-ui></div>
  <br>
  <div class="w-50"><app-loading-ui></app-loading-ui></div>
</ng-template>
<ng-template #loading>
  <app-loading-circles></app-loading-circles>
</ng-template>