<div class="wacpfm-card wacpfm-header-card">
  <div class="wacpfm-heading-underline">
    <h1 class="wacpfm-heading-small fw-bold">Your Portfolio</h1>
    <div class="wacpfm-underline"></div>
  </div>
</div>
<br><br>
<div class="wacpfm-card">
  <h1 class="wacpfm-heading-small fw-bold">Sections</h1>
  <br>
  <hr>
  <br>
  <ng-container *ngIf="userId$ | async as userId; else loading">
    <ng-container *ngIf="portfolioItems$ | async as items; else loading">
      <app-card-list *ngFor="let section of sections; index as i" [item]="section" [index]="i"
        [routerLink]="extractSectionId(section.title)">
        <button class="icon small">
          Score: {{getPortfolioScore(items, extractSectionId(section.title))}}
        </button>
      </app-card-list>
    </ng-container>
  </ng-container>
  <ng-template #loading>
    <app-loading-circles></app-loading-circles>
  </ng-template>
</div>