<div class="wacpfm-heading-underline">
  <h1 class="wacpfm-heading-small fw-bold">Resource Person</h1>
  <div class="wacpfm-underline"></div>
</div>
<br>
<div>
  <div class="wacpfm-card wacpfm-header-card">
    <div class="wacpfm-heading-underline">
      <h1 class="wacpfm-heading-medium fw-bold">Details</h1>
      <h2 class="wacpfm-heading-small fw-bold">Account details and Lecture(s)</h2>
    </div>
  </div>
</div>
<br>
<details *ngIf="updater$ | async as updater; else loading" [open]="updater === 'initial'" class="wacpfm-card">
  <summary class="wacpfm-heading wacpfm-heading-small fw-bold">
    Account Details <i class="bi bi-check-circle-fill text-success" *ngIf="updater === 'final'"></i>
  </summary>
  <br><br>
  <label for="wacpfm-lecturer-email">Email</label>
  <input type="email" name="wacpfm-lecturer-email" id="wacpfm-lecturer-email" [(ngModel)]="resourcePerson.userEmail"
    placeholder="i.e your email" required>
  <br><br>
  <label for="wacpfm-lecturer-title">Title</label>
  <app-select mode="single" [itemsSelectionState]="selection" [items]="titles.slice()" (emitItems)="setTitle($event)"
    [noOfClicks]="1"></app-select>
  <br><br>
  <label for="wacpfm-lecturer-bank-name">Bank Name</label>
  <input type="text" name="wacpfm-lecturer-bank-name" id="wacpfm-lecturer-bank-name"
    [(ngModel)]="resourcePerson.bankName" placeholder="i.e. name of your bank" required>
  <br><br>
  <label for="wacpfm-lecturer-account-number">Account Number</label>
  <input type="text" inputMode="numeric" name="wacpfm-lecturer-account-number" id="wacpfm-lecturer-account-number"
    [(ngModel)]="resourcePerson.accountNumber" placeholder="i.e. your bank account number" required>
  <br><br>
  <label for="wacpfm-lecturer-account-name">Account Name</label>
  <input type="text" name="wacpfm-lecturer-account-name" id="wacpfm-lecturer-account-name"
    [(ngModel)]="resourcePerson.accountName" placeholder="i.e. name associated with your account" required>
  <br><br>
  <label for="wacpfm-lecturer-title">Course Category</label>
  <app-select mode="single" [itemsSelectionState]="courseSelection" [items]="courseTypes.slice()" 
    (emitItems)="setCourseType($event)" [noOfClicks]="1"></app-select>
  <br><br>
  <button class="wacpfm-primary-button" (click)="updateLecturer()">
    Update Details
  </button>
</details>
<br><br>
<div class="container-fluid wacpfm-card">
  <div class="row">
    <div class="col-lg-6">
      <h1 class="wacpfm-heading-small fw-bold mb-2">Lectures</h1>
      <p class="wacpfm-subheading">Your lectures will appear here.</p>
      <br>
      <button class="small w-50" *ngIf="newLecture$ | async as newLecture; else loading"
      (click)="showLecture(newLecture)">
        <i class="bi bi-plus-circle-fill"></i> New Lecture
      </button>
    </div>
    <div class="col-lg-6 py-3">
      <app-card-list *ngFor="let lecture of lectures$ | async; index as i" [item]="lectureToCardList(lecture)"
        [index]="i" (click)="showLecture(lecture)"></app-card-list>
    </div>
  </div>
</div>
<ng-template #loading>
  <app-loading-circles></app-loading-circles>
</ng-template>