<div class="wacpfm-heading-underline">
  <h1 class="wacpfm-heading-small fw-bold">Admin Panel</h1>
  <div class="wacpfm-underline"></div>
</div>
<br>
<div class="container-fluid p-0">
  <div class="row wacpfm-card" *ngIf="level === 0">
    <div class="col-lg-6">
      <div class="wacpfm-heading-underline">
        <h1 class="wacpfm-heading-small wacpfm-heading-primary fw-bold">Update Courses</h1>
        <div class="wacpfm-underline subheading"></div>
      </div>
      <br>
      <p class="wacpfm-small-text">Manage registrations, payments, participants and resource persons
        for Update Courses. Click on any of the courses listed next for more.
      </p>
    </div>
    <div class="col-lg-6">
      <app-card-list *ngFor="let course of courses$ | async; index as i" [item]="courseToCardList(course)" [index]="i"
        (click)="setCourse(course)"></app-card-list>
    </div>
  </div>
  <div class="row" *ngIf="level === 1">
    <div class="col-lg-6 py-3">
      <div class="wacpfm-card wacpfm-match-height">
        <h1 class="wacpfm-subheading fw-bold">Payments</h1>
        <br>
        <p class="wacpfm-small-text wacpfm-lines">
          Review and approve payments made for update courses for each category.
        </p>
        <br>
        <button class="wacpfm-primary-button" (click)="setToPayment()">GO TO PAYMENTS</button>
      </div>
    </div>
    <div class="col-lg-6 py-3">
      <div class="wacpfm-card wacpfm-match-height">
        <h1 class="wacpfm-subheading fw-bold">Lectures</h1>
        <br>
        <p class="wacpfm-small-text wacpfm-lines">
          View and edit details of Update Course lectures.
        </p>
        <br>
        <button class="wacpfm-primary-button" (click)="setToLectures()">GO TO LECTURES</button>
      </div>
    </div>
    <div class="col-lg-6 py-3">
      <div class="wacpfm-card wacpfm-match-height">
        <h1 class="wacpfm-subheading fw-bold">Resource Persons</h1>
        <br>
        <p class="wacpfm-small-text wacpfm-lines">
          Manage details of resource persons including lectures and bank details here.
        </p>
        <br>
        <button class="wacpfm-primary-button" disabled>GO TO RESOURCE PERSONS</button>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="level === 2 && sublevel === 0">
    <div class="col-12" *ngIf="sublevel === 0">
      <div class="wacpfm-card wacpfm-match-height">
        <h1 class="wacpfm-heading-small fw-bold">Payments</h1>
        <p class="wacpfm-subheading">Manage payments for Update Course here</p>
      </div>
    </div>
    <div class="col-12"><br></div>
    <div class="col-12" *ngIf="records$ | async as records; else loading">
      <div *ngFor="let courseType of courseTypes">
        <div class="wacpfm-card wacpfm-match-height">
          <h1 class="wacpfm-subheading fw-bold">{{ courseType }}</h1>
          <!-- <br>
          <button class="small w-auto">Grant Participants Access</button> -->
          <br>
          <hr><br>
          <app-card-list *ngFor="let list of courseTypeOnly(records, courseType); index as i"
            [item]="paymentToCardList(list)" [index]="i" (click)="showPayment(list)"
            [control]="!(list.approved === undefined)" [state]="!!list.approved"></app-card-list>
        </div>
        <br>
      </div>
      <br>
      <div>
        <div class="wacpfm-card wacpfm-match-height">
          <h1 class="wacpfm-subheading fw-bold">Resident and ToT Update Course</h1>
          <p class="wacpfm-small-text">This should be used as a reference to identify those 
            who paid for both ToT course and resident course.
          </p>
          <p class="wacpfm-small-text">Please DO NOT USE to approve payments.</p>
          <br>
          <hr><br>
          <app-card-list *ngFor="let item of getHybridParticipants(records); index as i"
            [item]="paymentToCardList(item)" [index]="i" [state]="!!item.approved"
            [control]="!(item.approved === undefined)"></app-card-list>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="level === 2 && sublevel === 1">
    <div class="col-12">
      <div class="wacpfm-card wacpfm-match-height">
        <h1 class="wacpfm-heading-small fw-bold mb-2">Lectures</h1>
        <p class="wacpfm-subheading">View and edit details of Update Course lectures</p>
        <br>
        <button *ngIf="newLecture$ | async as lecture; else loading" class="wacpfm-primary-button small w-auto" 
          (click)="showLecture(lecture)">+ NEW LECTURE</button>
        <ng-template #loading>
          <app-loading-circles></app-loading-circles>
        </ng-template>
      </div>
    </div>
    <div class="col-12"><br></div>
    <div class="col-12" *ngIf="lectures$ | async as lectures; else loading">
      <div *ngFor="let courseType of courseTypes">
        <div class="wacpfm-card wacpfm-match-height">
          <h1 class="wacpfm-subheading fw-bold">{{ courseType }}</h1>
          <br>
          <hr><br>
          <app-card-list *ngFor="let lecture of courseTypeOnly(lectures, courseType); index as i"
            [item]="convertToCardList(lecture.lectureTitle, lecture.lecturerEmail, lecture.courseType)"
            [index]="i" (click)="showLecture(lecture)"></app-card-list>
        </div>
        <br>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-xl-3">
      <br><br>
      <button *ngIf="level > 0" (click)="level = level - 1">
        <i class="bi bi-arrow-left-circle"></i> Back
      </button>
    </div>
  </div>
</div>
<ng-template #loading>
  <app-loading-ui></app-loading-ui>
  <br><br>
  <app-loading-ui></app-loading-ui>
  <br><br>
  <app-loading-ui></app-loading-ui>
</ng-template>