<ng-container *ngIf="userId$ | async as userId">
  <div class="wacpfm-card wacpfm-header-card">
    <div class="wacpfm-heading-underline">
      <h1 class="wacpfm-heading-small fw-bold">Portfolio: Section {{ section | async }}</h1>
      <div class="wacpfm-underline"></div>
    </div>
    <br>
    <ng-container *ngIf="userIdParam$ | async as userIdParam">
      <button class="small icon" *ngIf="newItem$ === null; else wait" (click)="addNewItem$()"
        [class.d-none]="userIdParam !== userId">
        <i class="bi bi-plus-circle-fill"></i> Add New Item
      </button>
    </ng-container>
    <ng-template #wait>
      <p class="wacpfm-subheading" *ngIf="newItem$ | async as newItemId; else loading"></p>
      <ng-template #loading>
        <app-loading-circles></app-loading-circles>
      </ng-template>
    </ng-template>
    <br><br>
    <button class="small w-auto px-3" (click)="goBack()">
      <i class="bi bi-arrow-left-circle"></i> Back
    </button>
  </div>
  <br><br>
  <!-- <div *ngIf="sectionItems$ | async as items; else loading">
    <h1 class="wacpfm-subheading fw-bold">Items in this Section</h1>
  </div> -->
  <div *ngIf="sectionItemsGroupsList$ | async as groups; else loading">
    <details *ngFor="let sub of groups" class="wacpfm-card mb-3" [open]="true">
      <summary class="wacpfm-heading wacpfm-subheading fw-bold">{{ sub.subsection }}</summary>
      <br>
      <button class="icon small">
        {{ sub.items.length }} out of {{ sub.membership }} expected submissions
      </button>
      <br>
      <button class="icon small mt-1" *ngIf="sub.items.length > 0">
        Score: {{ getSubsectionScore(sub.items, sub.items[0].section, sub.subsection, sub.items[0].category) }}
      </button>
      <br>
      <hr><br>
      <app-card-list *ngFor="let item of sub.items; index as i" [item]="cachedToCardList(item)" [index]="i"
        [routerLink]="item.id" (click)="navigate(userId === item.userId, item.id)"></app-card-list>
    </details>
  </div>
</ng-container>
<ng-template #loading>
  <app-loading-circles></app-loading-circles>
</ng-template>