<div class="wacpfm-heading-underline">
  <h1 class="wacpfm-heading-small wacpfm-heading-primary fw-bold">Update Course</h1>
  <div class="wacpfm-heading-underline">
    <p class="wacpfm-subheading m-0">Create New Update Course</p>
    <div class="wacpfm-underline"></div>
  </div>
</div>
<br><br>
<label for="wacpfm-course-title"><i class="bi bi-envelope-fill"></i> Course Title</label>
<input #emailModel="ngModel" type="text" name="wacpfm-course-title" id="wacpfm-course-title" required
  placeholder="i.e. the title of the Update Course" [(ngModel)]="this.updateCourse.title" autocomplete="off">
<br><br>
<label for="wacpfm-registration-open"><i class="bi bi-calendar-check-fill"></i> Date Registration Opens</label>
<input type="date" name="wacpfm-registration-open" id="wacpfm-registration-open" required
  (ngModelChange)="updateAnyDate($event, 'registrationOpenDate')" min="{{this.helper.getTodaysDate()}}"
  [ngModel]="this.helper.millisToDate(this.updateCourse.registrationOpenDate).toISOString().substring(0, 10)">
<br><br>
<label for="wacpfm-registration-closes"><i class="bi bi-calendar"></i> Date Registration Closes</label>
<input type="date" name="wacpfm-registration-closes" id="wacpfm-registration-closes" required
  (ngModelChange)="updateAnyDate($event, 'registrationCloseDate')" min="{{this.helper.getTodaysDate()}}"
  [ngModel]="this.helper.millisToDate(this.updateCourse.registrationCloseDate).toISOString().substring(0, 10)">
<br><br>
<label for="wacpfm-course-start"><i class="bi bi-calendar-check-fill"></i> First Day of the Course</label>
<input type="date" name="wacpfm-course-start" id="wacpfm-course-start"
  (ngModelChange)="updateAnyDate($event, 'startDate')" min="{{this.helper.getTodaysDate()}}"
  [ngModel]="this.helper.millisToDate(this.updateCourse.startDate).toISOString().substring(0, 10)">
<br><br>
<label for="wacpfm-course-closes"><i class="bi bi-calendar-x-fill"></i> Last Day of the Course</label>
<input type="date" name="wacpfm-course-closes" id="wacpfm-course-closes" required
  (ngModelChange)="updateAnyDate($event, 'endDate')" min="{{this.helper.getTodaysDate()}}"
  [ngModel]="this.helper.millisToDate(this.updateCourse.endDate).toISOString().substring(0, 10)">
<br><br>
<label for="wacpfm-membership-theme"><i class="bi bi-1-square"></i> Membership Theme</label>
<input #emailModel="ngModel" type="text" name="wacpfm-membership-theme" id="wacpfm-membership-theme" required
  placeholder="Theme for the Membership Course" [(ngModel)]="this.updateCourse.membershipTheme" autocomplete="off">
<br><br>
<label for="wacpfm-fellowship-theme"><i class="bi bi-2-square"></i> Fellowship Theme</label>
<input #emailModel="ngModel" type="text" name="wacpfm-fellowship-theme" id="wacpfm-fellowship-theme" required
  placeholder="Theme for the Fellowship Course" [(ngModel)]="this.updateCourse.fellowshipTheme" autocomplete="off">
<br><br>
<label for="wacpfm-tot-theme"><i class="bi bi-3-square"></i> ToT Theme</label>
<input #emailModel="ngModel" type="text" name="wacpfm-tot-theme" id="wacpfm-tot-theme" required
  placeholder="Theme for the ToT Course" [(ngModel)]="this.updateCourse.totTheme" autocomplete="off">
<br><br>
<button class="wacpfm-primary-button" [disabled]="!this.updateCourse.creator || !this.updateCourse.title
  || !this.updateCourse.membershipTheme || !this.updateCourse.fellowshipTheme || !this.updateCourse.totTheme
  || !this.updateCourse.startDate || !this.updateCourse.endDate || !this.updateCourse.registrationCloseDate
  || !this.updateCourse.registrationOpenDate" (click)="createCourse()">Submit</button>