<div class="wacpfm-heading-underline">
  <h1 class="wacpfm-heading-small fw-bold">Update Course: Payment</h1>
  <div class="wacpfm-underline"></div>
</div>
<br>
<h1 class="wacpfm-subheading">How would you like to pay?</h1>
<br>
<div class="container-fluid p-0">
  <div class="row g-0">
    <div class="col-lg-6 p-2">
      <button><i class="bi bi-cloud-arrow-up-fill color-accent"></i> Upload Receipt</button>
    </div>
    <div class="col-lg-6 p-2">
      <button disabled><i class="bi bi-credit-card-fill color-accent"></i> Pay Now</button>
    </div>
  </div>
</div>