<div class="wacpfm-card">
  <div class="wacpfm-heading-underline">
    <h1 class="wacpfm-heading-small fw-bold">Workshop Meeting</h1>
    <div class="wacpfm-underline"></div>
  </div>
  <br><br>
  <!-- <div class="wacpfm-wrapper">
    <iframe width="360" height="240" src="https://webinar.zoho.com/meeting/register/embed?sessionId=1042509220" frameborder="0"></iframe>
  </div> -->
  <p>You will be redirected to the Webinar once you click on the link below. Thank you!</p>
  <br><br>
  <a href="https://us06web.zoom.us/webinar/register/WN_yojSN6CLSD-rUf7n0zMJ2g" class="wacpfm-link-card wacpfm-smaller-text" target="_blank">
    Click to Join Meeting
  </a>
</div>