<div class="wacpfm-card" *ngIf="event$ | async as event">
  <div class="wacpfm-heading-underline">
    <h1 class="wacpfm-heading-small fw-bold">Workshop Meeting</h1>
    <div class="wacpfm-underline"></div>
  </div>
  <br><br>
  <!-- <div class="wacpfm-wrapper">
    <iframe width="360" height="240" src="https://webinar.zoho.com/meeting/register/embed?sessionId=1042509220" frameborder="0"></iframe>
  </div> -->
  <p>You will be redirected to the Webinar once you click on the link below. Thank you!</p>
  <br><br>
  <a *ngIf="event.platform" [href]="event.platform" class="wacpfm-link-card wacpfm-smaller-text" 
  target="_blank">
    Click to Join Meeting
  </a>
</div>
<ng-template #loading>
  <div class="w-50">
    <app-loading-ui></app-loading-ui>
  </div>
  <br>
  <div class="w-75">
    <app-loading-ui></app-loading-ui>
  </div>
  <br>
  <div class="w-25">
    <app-loading-ui></app-loading-ui>
  </div>
</ng-template>