<div class="container-fluid px-0 main">
  <div class="row g-0">
    <div class="col-lg-3 d-lg-block" [ngClass]="showOnMobile ? 'd-block' : 'd-none'">
      <app-leftbar></app-leftbar>
    </div>
    <div class="col-lg-9 col-xl-8">
      <div class="wacpfm-dashboard wacpfm-padding-default">
        <router-outlet></router-outlet>
        <app-input [attributes]="{type: 'text', name: 'input-test', label: 'Input Test', 
          placeholder: 'e.g input', required: true, disabled: false, icon: 'circle-fill',
          value: '' }"></app-input>
        <app-input [attributes]="{type: 'text', name: 'input-test', label: 'Input Test', 
          placeholder: 'e.g input', required: true, disabled: false, icon: 'circle-fill',
          value: '' }"></app-input>
        <app-input [attributes]="{type: 'text', name: 'input-test', label: 'Input Test', 
          placeholder: 'e.g input', required: true, disabled: false, icon: 'circle-fill',
          value: '' }"></app-input>
      </div>
    </div>
    <div class="col-xl-1 d-none d-lg-block"></div>
  </div>
</div>