button {
  text-transform: capitalize;
  font-weight: 400;
  border-width: 2px;
  letter-spacing: normal;
}

.wacpfm-showall {
  cursor: pointer;
  color: var(--wacpfm-primary-colour);
}

.wacpfm-showall:hover {
  color: var(--wacpfm-accent-colour-orange);
}