.wacpfm-card-item {
  background-color: transparent;
  border: 1px solid transparent;
  transition: background-color 200ms ease-in;
}

.wacpfm-card-item.success {
  background-color: var(--wacpfm-background-colour-green);
  border-color: var(--wacpfm-light-grey);
}

.wacpfm-card-item.danger {
  background-color: var(--wacpfm-background-colour-red);
  border-color: var(--wacpfm-light-grey);
}

.wacpfm-card-item:hover {
  cursor: pointer;
  background-color: var(--wacpfm-background-colour);
  border-color: var(--wacpfm-primary-shadow);
}