<div class="wacpfm-update-course container-fluid p-0">
  <div class="row g-0">
    <div class="col">
      <div class="wacpfm-heading-underline">
        <h1 class="wacpfm-heading-small fw-bold">Update Course</h1>
        <div class="wacpfm-underline"></div>
      </div>
    </div>
  </div>
  <br>
  <div class="wacpfm-admin-block row g-0">
    <div class="col-8 col-md-6 col-lg-4 col-xl-3">
      <button>+ New Course</button>
    </div>
    <div class="offset-1 col-lg-4 col-xl-3"></div>
  </div>
  <br><br>
  <div class="wacpfm-ongoing-course wacpfm-card">
    <div class="wacpfm-heading-underline">
      <h1 class="fw-bold wacpfm-small-text">ONGOING</h1>
      <div class="wacpfm-underline"></div>
    </div>
    <br>
    <div class="wacpfm-ongoing-course-preview" *ngIf="doc; else empty"></div>
    <ng-template #empty>
      <div class="d-flex flex-column justify-content-center align-items-center">
        <img src="../../assets/empty.png" alt="No update course in view - vector image by pikisuperstar" class="img-fluid w-50 text-center">
        <p class="wacpfm-smaller-text">No update course</p>
      </div>
    </ng-template>
  </div>
</div>