<div class="wacpfm-update-course container-fluid p-0">
  <div class="row g-0 justify-content-between">
    <div class="col-8 col-md-5 col-lg-4">
      <div class="wacpfm-heading-underline">
        <h1 class="wacpfm-heading-small fw-bold">Update Course</h1>
        <div class="wacpfm-underline"></div>
      </div>
    </div>
    <div class="col-4 col-lg-4 col-xl-3 wacpfm-admin-block" *ngIf="(user$ | async)?.updateCourseRole === 'admin'">
      <button routerLink="/dashboard/updatecourse/new">
        <span class="d-none d-md-block">+ New Course</span>
        <span class="d-sm-block d-md-none d-lg-none d-xl-none wacpfm-smaller-text p-1">+ New</span>
      </button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-8 pb-4">
      <div class="wacpfm-ongoing-course wacpfm-card">
        <div class="wacpfm-heading-underline mb-3">
          <h1 class="fw-bold wacpfm-small-text">NEW COURSE</h1>
          <div class="wacpfm-underline"></div>
        </div>
        <div class="wacpfm-ongoing-course-preview" *ngIf="ongoing | async as newCourse; else empty">
          <div *ngIf="newCourse.hasOwnProperty('creator') && newCourse.creator; else nullCourse"
            class="wacpfm-clickable">
            <h1 class="wacpfm-small-text wacpfm-font-arial">{{ newCourse.title }}</h1>
            <!-- <div class="wacpfm-page-divider my-3"></div> -->
            <hr>
            <p class="wacpfm-smaller-text fw-bold wacpfm-font-arial"><span>{{ getDate(newCourse.startDate) }}</span> -
              <span>{{ getDate(newCourse.endDate) }}</span>
            </p>
            <a routerLink="/dashboard/updatecourse/{{newCourse.updateCourseId}}/details">
              <button class="wacpfm-primary-button small w-50">View Course</button>
            </a>
          </div>
          <ng-template #nullCourse>
            <div class="d-flex flex-column justify-content-center align-items-center">
              <img src="assets/empty.png" alt="No update course in view - vector image by pikisuperstar"
                class="img-fluid w-50 text-center">
              <p class="wacpfm-smaller-text">No new update course</p>
            </div>
          </ng-template>
        </div>
        <ng-template #empty>
          <div>
            <div class="wacpfm-loading d-inline-block"><i class="bi bi-gear-fill"></i></div>
            <span>Loading...</span>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <br><br>
  <div class="row g-0">
    <div class="col-12">
      <div class="wacpfm-heading-underline">
        <h1 class="fw-bold wacpfm-subheading">Previous Courses</h1>
        <div class="wacpfm-underline"></div>
      </div>
    </div>
  </div>
  <br>
  <div class="row" *ngIf="(previousCourses | async) as results">
    <div class="col-lg-6" *ngFor="let result of results">
      <div class="wacpfm-card" routerLink="./{{result.updateCourseId}}/details">
        <p>{{ result.title }}</p>
        <div class="wacpfm-page-divider"></div>
        <br>
        <p class="wacpfm-small-text">{{ getDate(result.startDate) }}</p>
      </div>
    </div>
  </div>
</div>