<div class="wacpfm-update-course container-fluid p-0">
  <div class="row g-0 justify-content-between">
    <div class="col-lg-4">
      <div class="wacpfm-heading-underline">
        <h1 class="wacpfm-heading-small fw-bold">Update Course</h1>
        <div class="wacpfm-underline"></div>
      </div>
    </div>
    <div class="col-8 col-md-5 col-lg-4 col-xl-3 wacpfm-admin-block"
     *ngIf="(user$ | async)?.updateCourseRole === 'admin'">
      <button routerLink="/dashboard/updatecourse/new">+ New Course</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12 col-lg-8 col-xl-6 pb-4">
      <div class="wacpfm-ongoing-course wacpfm-card">
        <div class="wacpfm-heading-underline">
          <h1 class="fw-bold wacpfm-small-text">NEW COURSE</h1>
          <div class="wacpfm-underline"></div>
        </div>
        <br>
        <div class="wacpfm-ongoing-course-preview" *ngIf="ongoing | async as newCourse; else empty">
          <p>{{ newCourse.title }}</p>
          <div class="wacpfm-page-divider"></div>
          <p class="wacpfm-small-text">{{ getDate(newCourse.startDate) }}</p>
        </div>
        <ng-template #empty>
          <div class="d-flex flex-column justify-content-center align-items-center">
            <img src="../../assets/empty.png" alt="No update course in view - vector image by pikisuperstar"
              class="img-fluid w-50 text-center">
            <p class="wacpfm-smaller-text">No new update course</p>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <br><br>
  <div class="row g-0">
    <div class="col-12">
      <div class="wacpfm-heading-underline">
        <h1 class="fw-bold wacpfm-subheading">Previous Courses</h1>
        <div class="wacpfm-underline"></div>
      </div>
    </div>
  </div>
  <div class="row g-0" *ngIf="(previousCourses | async) as results">
    <div class="col-md-6 col-lg-4" *ngFor="let result of results">
      <div class="wacpfm-card" *ngIf="result | async as course">
        <p>{{ course.title }}</p>
        <div class="wacpfm-page-divider"></div>
        <p class="wacpfm-small-text">{{ course.startDate }}</p>
      </div>
    </div>
  </div>
</div>