/* You can add global styles to this file, and also import other style files */
:root {
  --wacpfm-primary-colour: #003CB2;
  --wacpfm-primary-colour-contrast: #002060;
  --wacpfm-primary-colour-light: rgb(235, 241, 255);
  --wacpfm-accent-colour-correct:rgb(25, 216, 0);
  --wacpfm-accent-colour-green: #ffe600;
  --wacpfm-accent-colour-orange: #ff7300;
  --wacpfm-accent-colour-red: #e60000;
  --wacpfm-background-colour-hover: rgba(248, 250, 252, 0.5);
  --wacpfm-background-colour-lighter: #F8FAFC;
  --wacpfm-background-colour: #F5F7FA;
  --wacpfm-background-colour-darker: #F1F3F6;
  --wacpfm-background-colour-green: rgb(200, 255, 200);
  --wacpfm-background-colour-red: rgb(255, 200, 200);
  --wacpfm-overlay-background: rgba(0, 0, 0, 0.5);
  --wacpfm-primary-shadow: #CCDDFF;
  --wacpfm-light-grey: rgb(228, 228, 228);
  --wacpfm-grey: rgb(214, 214, 214);
  --wacpfm-border-radius: 8px;
  --wacpfm-text-colour: black;
  --wacpfm-spacing-large: 48px;
  --wacpfm-spacing-medium: 36px;
  --wacpfm-spacing-default: 24px;
  --wacpfm-spacing-small: 24px;
  --wacpfm-spacing-nav: 74px;
  --wacpfm-three-colours: linear-gradient(to right, var(--wacpfm-accent-colour-red) 0%, 
                                          var(--wacpfm-accent-colour-red) 33.33%, 
                                          var(--wacpfm-accent-colour-orange) 33.33%,
                                          var(--wacpfm-accent-colour-orange) 66.66%, 
                                          var(--wacpfm-accent-colour-green) 66.67%);
  --wacpfm-font-big: 48px;
  --wacpfm-font-medium: 32px;
  --wacpfm-font-small: 21px;
  --wacpfm-font-subheading: 18px;
  --wacpfm-font-text: 16px;
  --wacpfm-font-text-small: 12px;
}

body {
  background-color: var(--wacpfm-background-colour);
}

header {
  width: 100%;
  position: fixed;
  z-index: 3;
  top: 0; left: 0;
}

.main {
  position: relative;
  padding-top: var(--wacpfm-spacing-nav);
}

nav {
  /* height: var(--wacpfm-spacing-nav); */
  background-color: rgba(250, 250, 250, 1);
  /* background-blend-mode: overlay; */
  padding: 0px 16px;
}

h1, h2, h3, h4, h5, h6, .wacpfm-heading {
  font-family: 'ITC Avant Garde Pro Md', Arial, Helvetica, sans-serif;
  color: var(--wacpfm-text-colour);
  margin: 0px;
}

h1.wacpfm-heading-avantgarde {
  font-family: 'ITC Avant Garde Pro Md', Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.wacpfm-font-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.wacpfm-heading-big {
  font-size: var(--wacpfm-font-big);
  font-weight: 700;
}

.wacpfm-heading-medium {
  font-size: var(--wacpfm-font-medium);
}

.wacpfm-heading-small {
  font-size: var(--wacpfm-font-small);
}

.wacpfm-heading-primary, .wacpfm-text-primary {
  color: var(--wacpfm-primary-colour);
}

.wacpfm-subheading {
  font-size: var(--wacpfm-font-subheading);
  opacity: 0.8;
}

.wacpfm-small-text {
  font-size: 16px;
}

.wacpfm-smaller-text {
  font-size: var(--wacpfm-font-text-small);
}

.wacpfm-padding-default {
  padding: var(--wacpfm-spacing-default);
}

p, label, input {
  color: var(--wacpfm-text-colour);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: var(--wacpfm-font-text);
  line-height: 1.2em;
  word-spacing: 1px;
  color: var(--wacpfm-text-colour);
}

p {
  line-height: 1.3;
  letter-spacing: -0.3px;
}

.wacpfm-toggle {
  color: var(--wacpfm-primary-colour-contrast);
  padding: 8px 16px;
  background-color: transparent;
  /* border-radius: 45%; */
  cursor: pointer;
  transition: color 250ms ease-in, background-color 250ms ease-in;
}

.wacpfm-toggle.toggled {
  color: white;
  background-color: var(--wacpfm-primary-colour);
}

label {
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.8;
  margin-bottom: 6px;
}

input, .label-as-input {
  width: 100%;
  display: block;
  padding: 16px 24px;
  border: 2px solid var(--wacpfm-primary-shadow);
  appearance: initial;
  letter-spacing: -0.3px;
  margin-bottom: 4px;
  transition: border 200ms ease-in;
}

input:hover, .label-as-input:hover {
  border-color: var(--wacpfm-accent-colour-orange);
}

input:valid {
  border-color: var(--wacpfm-primary-colour);
  border-left: 4px solid var(--wacpfm-accent-colour-correct);
}

input:invalid {
  border-left: 4px solid var(--wacpfm-accent-colour-red);
}

::placeholder {
  opacity: 0.75;
}

a {
  text-decoration: none;
  font-size: 16px;
  color: var(--wacpfm-primary-colour);
}

a.wacpfm-link-decorated {
  box-shadow: 0px 2px var(--wacpfm-primary-colour);
}

a.wacpfm-link-card {
  background-color: var(--wacpfm-background-colour-lighter);
  padding: 8px 12px;
  border: 2px solid var(--wacpfm-primary-shadow);
  border-radius: 16px;
}

.color-accent {
  color: var(--wacpfm-accent-colour-orange);
}

i.fitted, span.fitted {
  display: inline-block;
  width: var(--wacpfm-font-text-small);
  height: var(--wacpfm-font-text-small);
  line-height: var(--wacpfm-font-text-small);
}

label > i.bi {
  color: var(--wacpfm-accent-colour-orange);
  text-shadow: 1px 1px var(--wacpfm-primary-colour);
}

button {
  width: 100%;
  height: 64px;
  padding: 2px 5%;
  background-color: transparent;
  color: var(--wacpfm-primary-colour);
  font-family: 'ITC Avant Garde Pro Md', Arial, Helvetica, sans-serif;
  border: 3px solid var(--wacpfm-primary-colour);
  font-weight: 700;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  transition: color 200ms ease-in, background-color 200ms ease-in, border-color 200ms ease-in;
}

button.small {
  height: auto;
  padding: 8px 4px;
  border: 2px solid var(--wacpfm-primary-colour);
  font-weight: 400;
}

button.wacpfm-primary-button {
  background-color: var(--wacpfm-primary-colour);
  color: white;
}

button:active {
  background-color: var(--wacpfm-accent-colour-orange);
  color: white;
  border-color: var(--wacpfm-accent-colour-orange);
}

.wacpfm-overlay-container {
  position: absolute;
  width: 100%;
  height: 100dvh;
  z-index: 2;
  top: 0;
}
.wacpfm-overlay-visible {
  height: 100vh;
  overflow-y: hidden;
}

.wacpfm-full-height {
  height: 92dvh;
  overflow-y: hidden;
}

.wacpfm-match-height {
  height: 100%;
}

.wacpfm-design-block {
  background: url("/assets/kwanzaa.png");
  background-size: 100% auto;
}

.wacpfm-page-divider {
  height: 8px;
  background: var(--wacpfm-three-colours);
}

.wacpfm-underline {
  display: inline-block;
  width: 100%;
  padding: 6px;
  background-color: var(--wacpfm-primary-colour);
  box-shadow: 2px 5px var(--wacpfm-accent-colour-orange);
  border-radius: var(--wacpfm-border-radius);
}

.wacpfm-underline.subheading {
  background-color: var(--wacpfm-primary-colour);
  padding: 4px;
  box-shadow: 2px 4px black;
}

.wacpfm-underline.subheading ~ h1.wacpfm-subheading {
  line-height: 0;
}

.wacpfm-heading-underline {
  width: fit-content;
}

.wacpfm-green {
  color: var(--wacpfm-accent-colour-correct);
}

.wacpfm-orange {
  color: var(--wacpfm-accent-colour-orange);
}

.wacpfm-red {
  color: var(--wacpfm-accent-colour-red);
}

:disabled {
  opacity: 0.5;
  filter: grayscale(1);
  cursor: not-allowed;
}

.wacpfm-loading {
  animation: rotate 1000ms linear infinite;
  width: fit-content;
  height: fit-content;
}

.wacpfm-card {
  width: 100%;
  background-color: var(--wacpfm-background-colour-lighter);
  padding: var(--wacpfm-spacing-default);
  border: 2px solid var(--wacpfm-light-grey);
  transition: background-color 200ms ease-in;
}

.wacpfm-loading-circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--wacpfm-accent-colour-red);
  animation: loading 300ms ease infinite alternate;
}

.wacpfm-loading-circle.second {
  animation-delay: 150ms;
  background-color: var(--wacpfm-accent-colour-orange);
}

.wacpfm-loading-circle.third {
  animation-delay: 300ms;
  background-color: var(--wacpfm-accent-colour-green);
}

.wacpfm-border-membership {
  border-color: var(--wacpfm-accent-colour-green);
}

.wacpfm-border-fellowship {
  border-color: var(--wacpfm-accent-colour-orange);
}

.wacpfm-border-tot {
  border-color: var(--wacpfm-primary-colour);
}

@keyframes slideLefttoRight {
  from {
    opacity: 0.5;
    transform: translateX(-50%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slideUp {
  from {
    opacity: 0.5;
    transform: translateY(50%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes loadingUI {
  from {
    transform: translateX(0);
  }


  to {
    transform: translateX(200%);
  }
}

@keyframes loading {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-16px);
  }
}

@media only screen and (min-width: 768px) {
  :root {
    --wacpfm-spacing-default: 36px;
  }

  button:hover {
    color: var(--wacpfm-accent-colour-orange);
    border-color: var(--wacpfm-accent-colour-orange);
  }

  :disabled:hover {
    color: unset;
    background-color: unset;
    border-color: unset;
  }

  a:hover {
    color: var(--wacpfm-accent-colour-orange);
  }

  a.wacpfm-link-decorated {
    box-shadow: 0px 2px var(--wacpfm-accent-colour-orange);
  }

  .wacpfm-card:hover {
    background-color: var(--wacpfm-primary-colour-light);
    border-color: var(--wacpfm-primary-shadow);
  }

  .wacpfm-toggle:hover {
    color: var(--wacpfm-primary-colour);
  }

  .wacpfm-toggle.toggled:hover {
    color: white;
  }
}

@media only screen and (min-width: 922px) {
  :root {
    --wacpfm-spacing-large: 80px;
    --wacpfm-spacing-default: 48px;
    --wacpfm-spacing-small: 30px;
    --wacpfm-spacing-nav: 80px;
    --wacpfm-font-big: 60px;
    --wacpfm-font-medium: 48px;
    --wacpfm-font-small: 28px;
    --wacpfm-font-text: 18px;
  }
}
