/* You can add global styles to this file, and also import other style files */
:root {
  --wacpfm-primary-colour: #003CB2;
  --wacpfm-primary-colour-contrast: #002060;
  --wacpfm-primary-colour-light: #EBF1FF;
  --wacpfm-accent-colour-green: #467C30;
  --wacpfm-accent-colour-orange: #EB921C;
  --wacpfm-accent-colour-red: #DB3237;
  --wacpfm-background-colour: #F5F7FA;
  --wacpfm-overlay-background: rgba(0, 0, 0, 0.5);
  --wacpfm-primary-shadow: #CCDDFF;
  --wacpfm-border-radius: 8px;
  --wacpfm-text-colour: black;
  --wacpfm-spacing-large: 48px;
  --wacpfm-spacing-medium: 40px;
  --wacpfm-spacing-default: 30px;
  --wacpfm-spacing-small: 24px;
  --wacpfm-spacing-nav: 80px;
  --wacpfm-three-colours: linear-gradient(to right, var(--wacpfm-accent-colour-red) 0%, 
                                          var(--wacpfm-accent-colour-red) 33.33%, 
                                          var(--wacpfm-accent-colour-orange) 33.33%,
                                          var(--wacpfm-accent-colour-orange) 66.66%, 
                                          var(--wacpfm-accent-colour-green) 66.67%);
  --wacpfm-font-big: 54px;
  --wacpfm-font-medium: 36px;
  --wacpfm-font-small: 24px;
  --wacpfm-font-subheading: 20px;
  --wacpfm-font-text: 16px;
}

body {
  background-color: var(--wacpfm-background-colour);
}

header {
  width: 100%;
  position: absolute;
  z-index: 3;
  top: 0; left: 0;
}

main {
  margin-top: var(--wacpfm-spacing-nav);
}

nav {
  /* height: var(--wacpfm-spacing-nav); */
  background-color: rgba(250, 250, 250, 1);
  /* background-blend-mode: overlay; */
  padding: 12px 16px;
}

h1, h2, h3, h4, h5, h6, .wacpfm-heading {
  font-family: 'ITC Avant Garde Pro Md', Arial, Helvetica, sans-serif;
  color: var(--wacpfm-text-colour);
  margin: 0px;
}

h1.wacpfm-heading-avantgarde {
  font-family: 'ITC Avant Garde Pro Md', Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.wacpfm-heading-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.wacpfm-heading-big {
  font-size: var(--wacpfm-font-big);
  font-weight: 700;
}

.wacpfm-heading-medium {
  font-size: var(--wacpfm-font-medium);
}

.wacpfm-heading-small {
  font-size: var(--wacpfm-font-small);
}

.wacpfm-heading-primary {
  color: var(--wacpfm-primary-colour);
}

.wacpfm-subheading {
  font-size: var(--wacpfm-font-subheading);
  opacity: 0.8;
}

.wacpfm-small-text {
  font-size: 16px;
}

.wacpfm-padding-default {
  padding: var(--wacpfm-spacing-default);
}

p, label, input {
  color: var(--wacpfm-text-colour);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: var(--wacpfm-font-text);
  line-height: 1.2em;
  word-spacing: 1px;
  color: var(--wacpfm-text-colour);
}

p {
  line-height: 1.3;
  letter-spacing: -0.3px;
}

label {
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.8;
  margin-bottom: 6px;
}

input {
  width: 100%;
  display: block;
  padding: 16px 24px;
  border: 2px solid var(--wacpfm-primary-shadow);
  appearance: initial;
  letter-spacing: -0.3px;
  margin-bottom: 4px;
  transition: border 200ms ease-in;
}

input:hover {
  border-color: var(--wacpfm-accent-colour-orange);
}

input:valid {
  border-left: 4px solid var(--wacpfm-accent-colour-green);
}

input:invalid {
  border-left: 4px solid var(--wacpfm-accent-colour-red);
}

::placeholder {
  opacity: 0.75;
}

a {
  text-decoration: none;
  font-size: 16px;
  color: var(--wacpfm-primary-colour);
  box-shadow: 0px 2px var(--wacpfm-primary-colour);
}

i.bi {
  margin-right: 4px;
}

label > i.bi {
  color: var(--wacpfm-accent-colour-orange);
}

button {
  width: 100%;
  height: 64px;
  padding: 2px 5%;
  background-color: transparent;
  color: var(--wacpfm-primary-colour);
  font-family: 'ITC Avant Garde Pro Md', Arial, Helvetica, sans-serif;
  border: 3px solid var(--wacpfm-primary-colour);
  font-weight: 700;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  transition: color 200ms ease-in, background-color 200ms ease-in, border-color 200ms ease-in;
}

button.wacpfm-primary-button {
  background-color: var(--wacpfm-primary-colour);
  color: white;
}

button:active {
  background-color: var(--wacpfm-accent-colour-orange);
  color: white;
  border-color: var(--wacpfm-accent-colour-orange);
}

.wacpfm-overlay-container {
  position: absolute;
  width: 100%;
  z-index: 2;
  top: 0;
}

.wacpfm-design-block {
  background: url("./assets/kwanzaa.png");
  background-size: cover;
}

.wacpfm-page-divider {
  height: 8px;
  background: var(--wacpfm-three-colours);
}

.wacpfm-underline {
  display: inline-block;
  width: 100%;
  padding: 6px;
  background-color: var(--wacpfm-primary-colour);
  box-shadow: 2px 5px var(--wacpfm-accent-colour-orange);
  border-radius: var(--wacpfm-border-radius);
}

.wacpfm-heading-underline {
  width: fit-content;
}

.wacpfm-green {
  color: var(--wacpfm-accent-colour-green);
}

.wacpfm-red {
  color: var(--wacpfm-accent-colour-red);
}

:disabled {
  opacity: 0.5;
  filter: grayscale(1);
  cursor: not-allowed;
}

.wacpfm-loading {
  animation: rotate 1000ms linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 768px) {
  :root {
    --wacpfm-spacing-default: 36px;
  }

  button:hover {
    color: var(--wacpfm-accent-colour-orange);
    border-color: var(--wacpfm-accent-colour-orange);
  }

  :disabled:hover {
    color: unset;
    background-color: unset;
    border-color: unset;
  }

  a:hover {
    color: var(--wacpfm-accent-colour-orange);
    box-shadow: 0px 2px var(--wacpfm-accent-colour-orange);
  }
}

@media only screen and (min-width: 922px) {
  :root {
    --wacpfm-spacing-large: 80px;
    --wacpfm-spacing-default: 48px;
    --wacpfm-spacing-small: 30px;
    --wacpfm-font-big: 60px;
    --wacpfm-font-medium: 48px;
    --wacpfm-font-small: 28px;
    --wacpfm-font-text: 18px;
  }
}
