<div class="container-fluid p-0">
  <div class="row g-0">
    <div class="col-lg-6 main">
      <div class="wacpfm-home-first d-flex flex-column align-items-center justify-content-center">
        <div class="wacpfm-home-details">
          <div class="wacpfm-heading-underline">
            <h1 class="wacpfm-heading-avantgarde wacpfm-heading-big pb-0">Welcome</h1>
            <div class="wacpfm-underline"></div>
          </div>
          <br>
          <p class="wacpfm-heading-small">This is the Faculty of Family Medicine, West African College of Physicians
            (WACP) App.</p>
          <p class="wacpfm-subheading m-0">Its aim is to simplify and coordinate the activities of the faculty.</p>
        </div>
        <div class="container-fluid p-0" *ngIf="user$ | async as user; else loadingCircles">
          <div class="row g-0" *ngIf="user?.email; else goToDashboard">
            <div class="col-lg-4 py-4">
              <button class="wacpfm-primary-button" routerLink="/dashboard">Go to Dashboard</button>
            </div>
          </div>
          <ng-template #goToDashboard>
            <div class="row g-0">
              <div class="col-lg-4 py-4">
                <button routerLink="/access/register" class="wacpfm-primary-button">Register</button>
              </div>
              <div class="offset-lg-1 col-lg-4 py-4">
                <button routerLink="/access/login" class="">Sign In</button>
              </div>
            </div>
          </ng-template>
        </div>
        <ng-template #loadingCircles>
          <div class="container-fluid p-0">
            <div class="row g-0">
              <div class="col-md-6 col-lg-4">
                <app-loading-circles></app-loading-circles>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="col-lg-6 wacpfm-home-first-artwork"></div>
  </div>
  <div class="wacpfm-page-divider"></div>
  <div class="row g-0">
    <div class="col-lg-6 wacpfm-activities">
      <div class="wacpfm-activity">
        <div class="wacpfm-activity-title-underline">
          <h1 class="wacpfm-activity-title wacpfm-heading-small fw-bold">Update Course</h1>
          <div class="wacpfm-underline"></div>
        </div>
        <br>
        <p class="wacpfm-activity-description wacpfm-subheading">The activities for our update courses are now
          coordinated on the app. Resource persons will find it easier to prepare their contents ahead of their
          lectures. Participants will be able to access the materials for their update course anytime from the app.</p>
        <br>
        <a href="" routerLink="/dashboard/updatecourse">
          <button class="wacpfm-activity-button">Go to Update Course</button>
        </a>
      </div>
    </div>
    <div class="col-lg-6 wacpfm-activities">
      <div class="wacpfm-activity">
        <div class="wacpfm-activity-title-underline">
          <h1 class="wacpfm-activity-title wacpfm-heading-small fw-bold">Examinations</h1>
          <div class="wacpfm-underline"></div>
        </div>
        <br>
        <p class="wacpfm-activity-description wacpfm-subheading">The Faculty App simplifies the coordination of
          examinations conducted by the Faculty of Family Medicine, West African College of Physician.</p>
        <br>
        <button class="wacpfm-activity-button" disabled>Coming Soon</button>
      </div>
    </div>
  </div>
  <div class="wacpfm-page-divider"></div>
  <div class="row g-0 wacpfm-footer">
    <div class="offset-md-1 col-md-10 offset-lg-3 col-lg-6 offset-xl-4 col-xl-4 wacpfm-padding-default text-center">
      <a routerLink="/access/register"><p class="wacpfm-small-text">Register</p></a>
      <a routerLink="/access/login"><p class="wacpfm-small-text">Login</p></a>
      <a routerLink="/dashboard"><p class="wacpfm-small-text">Dashboard</p></a>
      <br><br>
      <div class="wacpfm-icon-and-name d-flex align-items-center justify-content-center">
        <img src="../../assets/logo.png" alt="WACP Logo">
        <h1 class="wacpfm-subheading"> WACP Family Medicine</h1>
      </div>
    </div>
  </div>
</div>