.wacpfm-home-first {
  height: 91dvh;
  padding: var(--wacpfm-spacing-default);
}

.wacpfm-activities {
  padding: var(--wacpfm-spacing-default) 0;
}

.wacpfm-activities:nth-child(1) {
  background-color: var(--wacpfm-primary-shadow);
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  border-bottom: 4px solid var(--wacpfm-primary-colour);
}

.wacpfm-activity {
  padding: var(--wacpfm-spacing-default);
}

.wacpfm-activity-title {
  width: max-content;
  margin: 0;
}

.wacpfm-activity-title-underline {
  width: min-content;
}

button.wacpfm-activity-button {
  width: auto;
}

.wacpfm-footer {
  background: var(--wacpfm-primary-colour-contrast);
  color: white;
}

.wacpfm-footer p, .wacpfm-footer h1 {
  color: white;
}

@media only screen and (min-width: 992px) {
  .wacpfm-activities {
    padding: var(--wacpfm-spacing-default);
  }

  .wacpfm-activities:nth-child(1) {
    border-bottom: none;
    border-right: 1px solid var(--wacpfm-primary-colour);
  }
}