<div class="container-fluid p-0">
  <div class="row g-0">
    <div class="col-lg-6">
      <div class="wacpfm-home-first d-flex flex-column align-items-center justify-content-center">
        <div class="wacpfm-home-details">
          <h1 class="wacpfm-heading-avantgarde wacpfm-heading-big">Welcome</h1>
          <p class="wacpfm-heading-small">This is the Faculty of Family Medicine, West African College of Physicians
            (WACP) App.</p>
          <br>
          <p class="wacpfm-subheading">Its aim is to simplify and coordinate the activities of the faculty.</p>
        </div>
        <div class="container-fluid p-0">
          <div class="row g-0">
            <div class="col-lg-4 py-4">
              <button routerLink="/access/register" class="wacpfm-primary-button">Register</button>
            </div>
            <div class="offset-lg-1 col-lg-4 py-4">
              <button routerLink="/access/login" class="">Sign In</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6"></div>
  </div>
</div>
<div class="wacpfm-page-divider"></div>
<div class="container-fluid p-0">
  <div class="row g-0">
    <div class="col-lg-6 wacpfm-activities">
      <div class="wacpfm-activity">
        <div class="wacpfm-activity-title-underline">
          <h1 class="wacpfm-activity-title wacpfm-heading-small fw-bold">Update Course</h1>
          <div class="wacpfm-underline"></div>
        </div>
        <br>
        <p class="wacpfm-activity-description wacpfm-subheading">The activities for our update courses are now
          coordinated on the app. Resource persons will find it easier to prepare their contents ahead of their
          lectures. Participants will be able to access the materials for their update course anytime from the app.</p>
        <br>
        <button class="wacpfm-activity-button">Go to Update Course</button>
      </div>
    </div>
    <div class="col-lg-6 wacpfm-activities">
      <div class="wacpfm-activity">
        <div class="wacpfm-activity-title-underline">
          <h1 class="wacpfm-activity-title wacpfm-heading-small fw-bold">Examinations</h1>
          <div class="wacpfm-underline"></div>
        </div>
        <br>
        <p class="wacpfm-activity-description wacpfm-subheading">The activities for our update courses are now
          coordinated on the app. Resource persons will find it easier to prepare their contents ahead of their
          lectures. Participants will be able to access the materials for their update course anytime from the app.</p>
        <br>
        <button class="wacpfm-activity-button" disabled>Coming Soon</button>
      </div>
    </div>
  </div>
</div>