.container-fluid {
  background-color: var(--wacpfm-overlay-background);
}

.wacpfm-overlay {
  height: 100vh;
}

.wacpfm-overlay-dialog {
  width: 100%;
  background-color: var(--wacpfm-background-colour);
  margin-top: 48vh;
}

.wacpfm-overlay-dialog-spaced {
  padding: var(--wacpfm-spacing-small) var(--wacpfm-spacing-default);
}

.wacpfm-overlay-dialog-header {
  background-color: var(--wacpfm-primary-shadow);
}

i {
  color: var(--wacpfm-primary-colour);
  font-size: 18px;
}