html {
  position: fixed;
  height: 100dvh;
  overflow-y: hidden;
}

.container-fluid {
  background-color: var(--wacpfm-overlay-background);
  height: 100%;
}

.row {
  height: 100%;
}

.wacpfm-overlay {
  min-height: -webkit-fill-available;
  height: 100%;
}

.wacpfm-overlay-dialog {
  width: 100%;
  background-color: var(--wacpfm-background-colour);
  margin-bottom: var(--wacpfm-spacing-default);
}

.wacpfm-overlay-dialog-spaced {
  padding: var(--wacpfm-spacing-small) var(--wacpfm-spacing-default);
}

.wacpfm-overlay-dialog-header {
  background-color: var(--wacpfm-primary-shadow);
}

i {
  color: var(--wacpfm-primary-colour);
  font-size: 18px;
}