<div class="container-fluid p-0">
  <div class="row g-0">
    <div class="wacpfm-overlay offset-md-2 col-md-8 col-lg-12 offset-xl-1 col-xl-10 d-flex flex-column justify-content-end">
      <div class="wacpfm-overlay-dialog">
        <div class="wacpfm-page-divider"></div>
        <div class="wacpfm-overlay-dialog-header wacpfm-overlay-dialog-spaced w-100">
          <h1 class="wacpfm-overlay-dialog-title wacpfm-subheading fw-bold">{{ title }}</h1>
        </div>
        <div class="wacpfm-overlay-dialog-description wacpfm-overlay-dialog-spaced">
          <div class="wacpfm-loading"
          [ngClass]="done ? 'd-none' : 'd-inline-block'"><i class="bi {{ bi }} m-0"></i></div>
          <br>
          <p class="p-1">{{ description }}</p>
        </div>
        <!-- <br> -->
        <div class="p-1">
          <button class="wacpfm-overlay-dialog-button wacpfm-primary-button" 
            (click)="emitClick()" [disabled]="navText === 'Loading...'">{{ navText }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
