.wacpfm-overlay {
  width: 100%;
  height: 100vh;
  background-color: var(--wacpfm-overlay-background);
}

.wacpfm-overlay-dialog {
  width: 100%;
  background-color: var(--wacpfm-background-colour);
}

.wacpfm-overlay-dialog > div {
  padding: var(--wacpfm-spacing-default);
}

.wacpfm-overlay-dialog-header {
  background-color: var(--wacpfm-primary-shadow);
}